<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_GumballMachine" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/GumballMachine/Remote"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_GumballMachine"
                contract="GumballMachine.GumballMachine" name="WSHttpBinding_GumballMachine">
                <identity>
                    <userPrincipalName value="CITRITE\christopher3" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>